In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/jamie/parking_violation.csv') #Â Reading the csv file
df.columns # get all the column names

/Users/jamie/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (19,30,39,41,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['Unnamed: 0', 'Summons_Number', 'Plate_ID', 'Registration_State',
       'Plate_Type', 'Issue_Date', 'Violation_Code', 'Vehicle_Body_Type',
       'Vehicle_Make', 'Issuing_Agency', 'Street_Code1', 'Street_Code2',
       'Street_Code3', 'Vehicle_Expiration_Date', 'Violation_Location',
       'Violation_Precinct', 'Issuer_Precinct', 'Issuer_Code',
       'Issuer_Command', 'Issuer_Squad', 'Violation_Time',
       'Time_First_Observed', 'Violation_County',
       'Violation_In_Front_Of_Or_Opposite', 'House_Number', 'Street_Name',
       'Intersecting_Street', 'Date_First_Observed', 'Law_Section',
       'Sub_Division', 'Violation_Legal_Code', 'Days_Parking_In_Effect____',
       'From_Hours_In_Effect', 'To_Hours_In_Effect', 'Vehicle_Color',
       'Unregistered_Vehicle?', 'Vehicle_Year', 'Meter_Number',
       'Feet_From_Curb', 'Violation_Post_Code', 'Violation_Description',
       'No_Standing_or_Stopping_Violation', 'Hydrant_Violation',
       'Double_Parking_Violation', 'Latitude', 'Longitude', 'Community_Board',
       'Community_Council_', 'Census_Tract', 'BIN', 'BBL', 'NTA', 'year',
       'month'],
      dtype='object')

In [3]:
df.year.value_counts() # See the count by the year, we can see its heavily concentrated on 2014-2015

NY    9193289
NJ    1080414
PA     298877
CT     160361
FL     148868
       ...
SK         26
NF         18
FO         10
YT          6
NT          6
Name: Registration_State, Length: 69, dtype: int64

In [7]:
df.month.value_counts() # by month

1     1392992
6     1276592
5     1040148
9     1029583
7      969938
10     966456
3      965119
4      951716
8      911641
11     798897
12     774287
2      731864
Name: month, dtype: int64

In [12]:
df.Registration_State.value_counts()

NY    9193289
NJ    1080414
PA     298877
CT     160361
FL     148868
       ...
SK         26
NF         18
FO         10
YT          6
NT          6
Name: Registration_State, Length: 69, dtype: int64